@import "./component/header.css";
@import "./component/resultSection.css";

* {
  box-sizing: border-box;
}

body {
  background: #0e83cd;
  font-family: "Yeon Sung", cursive;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
