@import "./component/header.css";
@import "./component/resultSection.css";
@import "./component/scrollIndicator.css";
* {
  box-sizing: border-box;
}

/* Hide scroll-bar */
body::-webkit-scrollbar {
  display: none;
}

body {
  background: #0e83cd;
  font-family: "Yeon Sung", cursive;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
