.result-section .cat-container .cat-wrapper:after {
  position: absolute;
  right: 0%;
  bottom: 1%;
  border: 1px solid #000;
  padding: 2px;
  font-size: 9px;
  background-color: #fff;
  color: black;
}
.result-section .cat-container .cat-wrapper:hover:after {
  content: "Open";
}
.result-section .cat-container .cat-wrapper.open:after {
  content: "Close";
}
