.stars {
  position: absolute;
  bottom: -30px;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 26px;
  cursor: pointer;
  width: fit-content;
}
.stars .star {
  width: 24px;
  height: 24px;
  padding: 2px;
  display: inline-block;
}
.star.empty {
  background: url(../../images/star-empty.svg) no-repeat;
}
.star.half {
  background: url(../../images/star-half.svg) no-repeat;
}
.star.full {
  background: url(../../images/star-full.svg) no-repeat;
}
